.plane-text.footer__link-item {
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    margin-left: 8px;
}

.plane-text.footer__link-item:hover{
        color: #347EFF;
}

@media screen and (max-width: 1024px) 
{
    .plane-text.footer__link-item {
        margin-left: 0;
    }
}

