.card__info {
    margin: 20px 24px 24px 24px;
    height: 262px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 1280px) 
{
    .card__info {
        margin: 16px;
    }
}

@media screen and (max-width: 812px) 
{
    .card__info {
        height: 234px;
    }
}

@media screen and (max-width: 414px) 
{
    .card__info {
        height: 214px;
    }
}