@import url('./result__button-content.css');
@import url('./__text/button__text.css');

.result__button {
    width: 288px;
    height: 64px;
    background: #fff;
    border-radius: 80px;
    display: flex;
    border: none;
    outline: none;
}

.result__button:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 812px) 
{
    .result__button {
        width: 240px;
        height: 56px;
    }
}

@media screen and (max-width: 414px) 
{
    .result__button {
        width: 100%
    }
}