@import url('./__circle/preloader__circle.css');
@import url('./__text/preloader__text.css');


.result__preloader {
	display: none;
	flex-direction: column;
	text-align: center;
	background: #f5f6f7;
	padding: 78px 104px 79px;
}

.result__preloader_open {
	display: flex;
}