@media screen and (max-width: 1280px)
{.card__title {
    font-size: 24px;
    line-height: 26px;
}}

@media screen and (max-width: 1190px)
{.card__title {
    font-size: 22px;
    line-height: 24px;
}}

@media screen and (max-width: 812px)
{.card__title {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}}