@import url('./__image/author__image.css');
@import url('./__title/author__title.css');
@import url('./__info/author__info.css');
@import url('./__paragraph/author__paragraph.css');

.author {
    display: flex;
    margin: 80px 104px 80px 104px;
}

@media screen and (max-width: 1024px) 
{
    .author {
        margin: 40px 40px 48px 40px;
    }
}

@media screen and (max-width: 646px) 
{
    .author {
        flex-direction: column;
        margin: 11px 16px 32px 16px;
    }
}