.plane-text.card__description {
    font-size: 16px;
    line-height: 22px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media screen and (max-width: 812px) 
{.plane-text.card__description {
    -webkit-line-clamp: 4;
    margin-top: 4px;
    margin-bottom: 12px;
}}

@media screen and (max-width: 414px) 
{.plane-text.card__description {
    -webkit-line-clamp: 3;
}}

