.footer__icons {
    margin-top: 26px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 70px;
    list-style: none;
    padding-left: 0;
}

@media screen and (max-width: 1024px) 
{
    .footer__icons {
        margin-top: 18px;
        margin-left: 13.3%;
    }
}


@media screen and (max-width: 765px) 
{
    .footer__icons {
        margin-left: 0;
    }
}

