.card__source {
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    color: #B6BCBF;
    margin-top: 0;
    margin-bottom: 0;
}